@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: hsl(220, 98%, 61%);
  --gradient: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.background {
  background-image: url('/img/bg-desktop-light.jpg');
  
}

.checkIcon {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}