<div class="productos">
  <div class="producto" *ngFor="let producto of arrProductos">
    <h2>{{producto.name}}</h2>
    <p><strong>Descripción:</strong> {{producto.description}}</p>
    <p><strong>Precio:</strong> {{producto.price}}</p>
    <!-- <p><strong>Precio con IVA:</strong> {{producto.price_tax}}</p> -->
    <p><strong>Stock:</strong> {{producto.stock}}</p>
    <p *ngIf="producto.image" class="image">
      <img [src]="'http://localhost:3000/images/'+producto.image" alt="">
    </p>
  </div>
</div>