<h2>Lista de productos</h2>
<div class="card producto" *ngFor="let producto of arrProductos" style="width: 18rem;">
  <p *ngIf="producto.image" class="image">
    <img [src]="'http://localhost:3000/images/'+ producto.image" alt="">
  </p>
  <div class="card-body">
    <h5 class="card-title">{{producto.name}}</h5>
    <p class="card-text">Descripción: {{producto.description}}</p>
    <p class="card-text">Disponibles: {{producto.stock}}</p>
    <p class="card-text">Precio: {{producto.price}}€</p>
  </div>
</div>