.producto {
  background-color: rgb(160, 174, 214);
  color: rgb(5, 22, 77);
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  border-radius: 20px;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

h2 {
  background-color: royalblue;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.image {
  width: 10%;
}

.btn {
  background-color: royalblue;
}