@use 'variables' as var;

@import 'reset';

@font-face{
  font-family: 'Inter';
  src:url(../../../05-ej-componentes-sass/assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Inter';
  src:url(../../../05-ej-componentes-sass/assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face{
  font-family: 'Lexend Deca';
  src:url(../../../05-ej-componentes-sass/assets/fonts/LexendDeca-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

.container{
  width: 80% ;
  max-width: 800px;
  margin: 50px auto;
  
}
body{
  background-color: var.$main-color;
  
}
.padre{
  position: relative;
  margin-top: 200px;
  width: 1000px;
  height: 415px;
  background-color: var.$label-color;
  // border: 2px solid black;
  border-radius: 5px;
  
  h1{
    font-family: 'Inter';
    color:var.$tittle-color;
    font-weight: 700;
  }
  
  span{
    color:var.$accent-color;
  }
  
  p{
    font-family: 'Inter';
    font-weight: 400;
    color:var.$text-color;
  }
  img{
          border-radius:0 5px 5px 0;
        }
        
        .hijo1{
          position: absolute;
          width:500px;
          height:134px;
          // border:2px solid green;
          text-align:left;
          padding: 50px;
        }
        
        .hijo2{
          position: absolute;
          top:40%;
          width:500px;
          height:134px;
          // border:2px solid rgb(201, 235, 11);
          font-size: 15px;
          padding: 0 70px 0 50px;
          
        }
        
        .hijo3{
          position: absolute;
          top:60%;
          width:500px;
          height:134px;
          // border:2px solid rgb(235, 11, 104);
          padding: 50px;
          h1{
            font-size: 22px;
            
          }
          
          p{
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
          .data1{
            position: absolute;
            top: 30%;
          }
          
          .data2{
            position: absolute;
            top: 30%;
            left:37%;
          }
          .data3{
            position: absolute;
            top: 30%;
            left:63%;
          }
        }
        
        .hijo4{
          position: absolute;
          display: block;
          left:50%;
          width:500px;
          height:415px;
          // background-image: url(../../../05-ej-componentes-sass/assets/img/image-header-desktop.jpg);
          // border:2px solid rgb(11, 235, 235);
          
          
        }
        
      }
      .overlay{

        background-color: var.$accent-color;
      }