figure {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(116, 86, 86, 0.938);
  overflow:hidden;
  position: relative;
  transition: transform 0.75s;
}

figure img {
  object-fit:cover;
}

figure figcaption{
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 5px;
}

figure:hover {
 transform: scale(1.15);

}