
<h2>Listado de productos</h2>
<hr>
<div class="row">
  <article class=" p-5 col-12 col-md-6 col-lg-4" *ngFor="let producto of arrProducts | paginate: {itemsPerPage: 3, currentPage: page }" >
    <div class="card border border-dark" style="width: 18rem">
      <img [src]="producto.image" class="card-img-top">
      <div class="card-body bg-secondary">
        <h5 class="card-title">{{producto.name}}</h5>
        <p class="card-text">{{producto.description}}</p>
        <p class="card-text">{{producto.price}} €</p>
        <a href="#" class="btn btn-dark">Detalles</a>
      </div>
    </div>
  </article>
</div>

<div class="mt-5">
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

