figure{
    height: 250px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
    overflow: hidden;
    position: relative;
}

figure img{
    object-fit: cover;
}
figure .degradado{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
background: linear-gradient(0deg,rgba(0,0,0,1)0%,rgba(0,0,0,0) 70%);
}

figure figcaption {
    position: absolute;
    bottom: 50px;
    right: 20px;
}

figure .boton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}