@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&family=Playfair+Display&display=swap');

$fontFamily: 'Kanit', sans-serif;
$fontSize: 1em;
$primaryColor: rgb(146,96,2);
$secondaryColor: black;
$container: 1004px;