@font-face {
  font-family: 'Playfair Display';
  src: url(../02-textos/assets/Fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../02-textos/assets/Fonts/PlayfairDisplay-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../02-textos/assets/Fonts/PlayfairDisplay-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(../02-textos/assets/Fonts//PlayfairDisplay-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../02-textos/assets/Fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 900;
  font-style:normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(../02-textos/assets/Fonts/PlayfairDisplay-BoldItalic.ttf);
  font-weight: 900;
  font-style:italic;
}
body{
  font-family: 'Playfair Display';

}
p{
  
  font-weight: 400 ;
  font-size: 20px;
}
h1{
  
  font-weight: 900 ;
}

h2{
  
  text-transform: uppercase;
  font-weight: 900;
}

date{
  color:tomato;
  font-weight: 600;
}

strong.nombre{
  font-size: 24px;
}

.center{
  text-align: center;
}


.texto-verde{
  color:green;
}


.texto-amarillo{
  color:rgb(255, 255, 0);
}



