/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../../assets/fonts/LexendDeca-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  background-color: hsl(233deg, 47%, 7%);
}

.caja-padre {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 3px solid rgb(193, 224, 16);
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 7px;
  grid-template-areas: "main main main  foto foto foto" "main main main  foto foto foto" "data1 data2 data3  foto foto foto";
}
.caja-padre .caja-hijo1 {
  border: 3px solid rgb(247, 90, 0);
  grid-area: main;
}
.caja-padre .caja-hijo1 span {
  color: hsl(277deg, 64%, 61%);
}
.caja-padre .caja-hijo2 {
  border: 3px solid lightseagreen;
  grid-area: data1;
  place-self: center;
}
.caja-padre .caja-hijo3 {
  border: 3px solid lightseagreen;
  grid-area: data2;
  place-self: center;
  padding-right: 50px;
}
.caja-padre .caja-hijo4 {
  border: 3px solid lightseagreen;
  grid-area: data3;
  place-self: center;
  padding-right: 120px;
}
.caja-padre .caja-hijo5 {
  background: url(../../assets/img/image-header-desktop.jpg);
  grid-area: foto;
  border: 3px solid lightseagreen;
}

.tittle {
  font-family: "Inter";
  font-weight: 700;
  font-size: 35px;
  color: hsl(0deg, 0%, 100%);
  text-align: left;
  padding: 50px 75px 0 50px;
}

.text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: hsla(0deg, 0%, 100%, 0.75);
  text-align: left;
  padding: 20px 75px 0 50px;
}

.number {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  color: hsl(0deg, 0%, 100%);
  text-align: left;
}

.subtittle {
  font-family: "Lexend Deca";
  font-size: 13px;
  color: hsla(0deg, 0%, 100%, 0.75);
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 1001px) {
  .caja-padre {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "foto" "main" "data1 " "data2" "data3";
  }
}

/*# sourceMappingURL=style.css.map */
