<section class="card m-3 p-5 shadow">
    <div class="text-center">
        <h1>Bienvenidos al <strong>CRM</strong> de <span class="text-danger">productos</span></h1>
        <p>Aquí podrás gestionar todos tus productos</p>
        <hr>
        <div class="d-flex justify-content-between">
            <button class="btn btn-danger" [routerLink]="['/register']">REGISTRARSE</button>
            <button class="btn btn-danger" [routerLink]="['/login']">LOGIN</button>
        </div>
    </div>
</section>
