<section class="bg-dark">
  <div class="container">
    <div class="row g-4">
        <article  *ngFor="let character of characters | paginate: {itemsPerPage: 12, currentPage: page}" class="col-12 col-md-4 col-lg-3">
      <!-- <div *ngIf="character.thumbnail.path != notImage"> -->
        <app-card [character] = character></app-card>
      <!-- </div> -->
    </article>
    </div>
  </div>
</section>

<div class="pagination p-3 text-white bg-dark">
  <pagination-controls (pageChange)=" page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>