body{
  font-family: 'Arial', sans-serif;
}

.container{
  width: 80% ;
  max-width: 800px;
  margin: 50px auto;

}



div.menu{

  /*! TRUCO PARA ALINEAR CAJAS AL CENTRO TOTAL  */
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
 
  align-items:center;
  
  gap: 5px 5px;
  height: 10vh;
  background-color: rgb(0, 0, 0);
  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 15px;
}

div.item{
  
  /* align-self: center; */
  background-color: rgb(0, 0, 0);
  
  
  
}
div.item:hover> div.subitem {
opacity:1;

}

a.titulo{
  color:rgb(255, 255, 255);  
  font-weight: bold;
  text-decoration: none;

}
a.subtitulo{
  color:rgb(250, 233, 3);  
  font-weight: bold;
  text-decoration: none;

}


div.subitem{
  opacity: 0;
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 177, 165);
  border-radius: 0 15px;
  /* border: 2px solid gold; */
  padding: 10px;
}



div.link{

/* border: 2px solid rgb(31, 182, 111); */
margin-bottom: 5px;

 }


