*{
  box-sizing: border-box;
}

.menu{
  border: 3px solid green;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;


  
  
  
}

.submenu{
  border: 3px solid rgb(0, 162, 255);
  height: 50px;
  color: rgb(0, 162, 255);
  text-decoration: none;
  padding: 10px;
  
  
}

@media(max-width:500px){

  .menu{
    border: 6px solid hotpink;
    flex-direction: column;
    
    

  }

  .submenu{
    border: 3px solid hotpink;
    color: hotpink;


  }
}