@font-face {
  font-family: 'Nunito';
  src: url('../../../assets/fonts/Nunito/Nunito-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../../assets/fonts/Nunito/Nunito-ExtraLight.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../../assets/fonts/Nunito/Nunito-ExtraBold.ttf');
  font-weight: 800;
}

@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';