

h1#title {
  display:inline-block
}

img {
  max-width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
}

.dark-light-btn {
  position: absolute;
  top: 10px;
  right: 10px;;
}

.container{
  width: 80% ;
  max-width: 800px;
  margin: 50px auto;

}


